---
---

@charset "utf-8";

$font_size_nav: 20px;
$font_size: 20px;
$font_style_code: Terminus, "DejaVu Sans Mono", Consolas, monospace;

$color_accent_secondary_base: #1998C6;
$color_accent_primary_base: #ce7823;
$color_accent_primary_minor: #cc4422;
$color_background_base: #333E43;
$color_background_minor: #4C595F;
$color_text_minor: #83969C;
$color_text_base: #DDDDDD;

$width_max: 800px;
$width_max_nav: 400px;
$spacing: 20px;
$spacing_nav: 80px;

body{
  background-color: $color_background_base;

  a{
    text-decoration: none;
    color: $color_accent_secondary_base;

    &:hover{
      color: $color_text_minor;
    }
  }

  ::selection{
    background-color: $color_text_base;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "nav";
@import "content";
@import "project";
@import "mainpage"