---
---

@charset "utf-8";

$font_size: 20px;

$color_base03: #002b36;
$color_base02: #073642;
$color_base01: #586e75;
$color_base0: #839496;
$color_blue: #268bd2;

$width_max: 800px;
$width_max_nav: 400px;
$spacing: 20px;

body{
  background-color: $color_base03;

  a{
    text-decoration: none;
    color: $color_blue;

    &:hover{
      color: $color_base01;
    }
  }

  ::selection{
    background-color: $color_base0;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "nav";
@import "content";
@import "project";