---
layout: mainpage
title: Jack Song
---

<div id="mainpage-Index" class="mainpage-piece mainpage-current">

<div class="title-block">
<h1 class="title-heading">Jack.song</h1>
<p>The original cross-platform module for reliable and rapid software development, <br> driven by an inquisitive intelligence engine.</p>
<p class="version">current version - Dev 0.1.33</p>
</div>

{% include features.html %}
<a class="button-mainpage pure-button" href="http://github.com/jack-song">GitHub</a>
</div>

<div id="mainpage-Projects" class="mainpage-piece" style="display: none">
{% include projects.html %}
</div>

<div id="mainpage-Resume" class="mainpage-piece" style="display: none">
{% include projects.html %}
</div>

<div id="mainpage-Me" class="mainpage-piece" style="display: none">
{% include about.html %}
</div>
