<p>I'm currently studying as a Software Engineer at the University of Waterloo, Canada. I really like making things. If you'd like to talk to me:<br>jackthesong (at) gmail.com</p>

<div class="heading-bar">
  <h3>My other interests</h3>
</div>

<p>Things I like, in no particular order:</p>

<ul>
<li>Digital Painting</li>
<li>Judo</li>
<li>Christopher Nolan</li>
<li>Cave Story</li>
<li>Homestuck</li>
<li>Pretending to know how to play guitar</li>
<li>Lord of the Rings</li>
<li>Science!</li>
<li>Portal</li>
<li>Total War</li>
<li>Dwarf Fortress</li>
<li>Fight Club</li>
<li>Passion Pit</li>
<li>Cowboy Bebop</li>
<li>Guster</li>
<li>Firefly</li>
<li>Lists</li>
</ul>

<div class="heading-bar">
  <h3>My work</h3>
</div>

<p>For now, I mostly plan on sticking to my own projects to build up my basic skills and workflow. In the nearest possible future though, I definitely plan on joining an open source project that I'm interested in.</p>