<p>Hi, my name is Jack Song. I'm currently studying as a Software Engineer at the University of Waterloo, Canada.</p>

<p> I really like creating and owning a system. Careful constructions with elegant engineering and simple designs. I am also endlessly curious about systems made by others. If you'd like to talk to me I can be found at jackthesong(at)gmail.com</p>

<p>Things I like, in no particular order:</p>

<ul>
<li> <a href="http://malsatas.deviantart.com/">Digital Painting </a></li>
<li>Pretending to know how to play guitar</li>
<li>Rock Climbing</li>
<li>Passion Pit</li>
<li>Radical Face</li>
<li>Judo</li>
<li>Indie Games</li>
<li>Cowboy Bebop</li>
<li>Guster</li>
<li>Lists</li>
</ul>