<p>I'm currently studying as a Software Engineer at the University of Waterloo, Canada. I really like making things. If you'd like to talk to me:<br>jackthesong (at) gmail.com</p>

<div class="heading-bar">
  <h3>Interests</h3>
</div>

<p>Things I like, in no particular order:</p>

<ul>
<li>Digital Painting</li>
<li>Judo</li>
<li>Christopher Nolan</li>
<li>Cave Story</li>
<li>Homestuck</li>
<li>Pretending to know how to play guitar</li>
<li>Lord of the Rings</li>
<li>Science!</li>
<li>Portal</li>
<li>Total War</li>
<li>Dwarf Fortress</li>
<li>Fight Club</li>
<li>Passion Pit</li>
<li>Cowboy Bebop</li>
<li>Guster</li>
<li>Firefly</li>
<li>Lists</li>
</ul>

<div class="heading-bar">
  <h3>Approach to Coding</h3>
</div>

<p>I've shifted my focus over time from just solving the problem, to solving it efficiently, to solving it well. Recently I've been trying to focus on doing it right the first time, patterns, and general readability. I'm also learning more about building, testing, and deployment.</p>

<div class="heading-bar">
  <h3>Approach to Design</h3>
</div>

<p>I tend to prefer simple and smooth designs. Usability and user customization are far more important than visual showmanship. "Feeling just right" is what I aim for.</p>