<div class="pure-g features">

  <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <div class="feature">
      <div>
        <img src="assets/index-icon-fork.png"/>
        <h2>
          Extensible
        </h2>
      </div>

      <p>Configures quickly to expand functionality and integrate with new systems.</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <div class="feature">
      <div>
        <img src="assets/index-icon-settings.png"/>
        <h2>
          Easy to work with
        </h2>
      </div>

      <p>Readable code, supportive documentation, and highly effective 2-way communication interfacing.</p>
    </div>
  </div>

  <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <div class="feature">
      <div>
        <img src="assets/index-icon-tick.png"/>
        <h2>
          Comprehensive
        </h2>
      </div>

      <p>Creative algorithms collect input at the module, application, and business level to provide unique, wholesome solutions.</p>
    </div>
  </div>

</div>