<div id="nav" class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a class="pure-menu-link" nav-current="Index" class="nav-current" style="display: none">Examples</a>
    </li>

    <li class="pure-menu-item">
      <a class="pure-menu-link" nav-current="Projects" nav-notcurrent="Examples">Examples</a>
    </li>

    <li class="pure-menu-item">
      <a class="pure-menu-link" nav-current="Resume" nav-notcurrent="Documentation">Documentation</a>
    </li>

    <li class="pure-menu-item">
      <a class="pure-menu-link" nav-current="Me" nav-notcurrent="About">About</a>
    </li>
  </ul>
</div>