<h1><a id="Jiapei_Jack_Song_0"></a>Jiapei (Jack) Song</h1>
<p><a href="http://jack-song.me">jack-song.me</a> • <a href="http://github.com/jack-song">github.com/jack-song</a> • <a href="mailto:jiapei.song@uwaterloo.ca">jiapei.song@uwaterloo.ca</a> • +1-647-861-5968</p>
<h4><a id="Languages_4"></a>Languages:</h4>
<p>Java, Javascript, C#, C++, SQL, HTML, CSS, Python, C</p>
<h4><a id="Technologies_7"></a>Technologies:</h4>
<p>Android, Version control, JQuery, Node.js, D3.js, .NET, Chrome Exts., Angular.js, Swing</p>
<h3><a id="Experience_10"></a>Experience:</h3>
<h4><a id="Android_Developer_12"></a>Android Developer</h4>
<p>Top Hat Toronto • Ontario (Sep. 2015 - Present)</p>
<ul>
   <li>Main Android developer for an education app with over 100,000 installations</li>
   <li>Managed successful releases, hotfixes, and improved Google Play rating</li>
   <li>Rewrote data handling architecture for new APIs and improved websockets reliability</li>
   <li>Tracked user activity for product analysis and problem diagnostics</li>
   <li>Improved agile and coding practices for better team burndowns and sprint results</li>
</ul>
<h4><a id="JS_and_C_Developer_21"></a>JS and C# Developer</h4>
<p>Ultimate Software • Weston • Florida (Jan. 2015 - Apr. 2015)</p>
<ul>
   <li>Implemented an interactive, domain-specific web-scraper from scratch in Javascript</li>
   <li>Released Visual Studio extension for code dependency visualization and analysis of DLLs</li>
   <li>Won company hackathon for Technical Ingenuity with a tool for visual construction of continuous
      integration pipelines
   </li>
   <li>Released central utility for tracking company-wide regression tests using Angular.js</li>
   <li>Experimented with parallel device testing and TeamCity continuous integration</li>
</ul>
<h4><a id="NET_Web_Developer_31"></a>.NET Web Developer</h4>
<p>IBM Canada • Toronto • Ontario (May 2014 - Aug. 2014)</p>
<ul>
   <li>Implemented feature to replicate and restart a full cloud deployment with data</li>
   <li>Worked in a full-time dev team of 10, with QA, on enterprise scale features for a financial
      cloud application
   </li>
   <li>Full stack development from front-end frameworks to SQL databases and cloud storage</li>
</ul>
<h3><a id="Projects_39"></a>Projects</h3>
<h4><a id="Colorful_Conway_41"></a>Colorful Conway</h4>
<p>Web App (Nov. 2015 - Present)</p>
<ul>
   <li>Node.js and websockets implementation of Conway’s Game of Life with colors</li>
   <li>Learning the basics of Node, Express, Jade, and designing real time interactive web apps</li>
</ul>
<h4><a id="Arimaa_Free_47"></a>Arimaa Free</h4>
<p>Android App (Dec. 2013 - Present)</p>
<ul>
   <li>Port of a chess-like board game</li>
   <li>Pushed multiple releases on Google Play Store, managing feedback and bug reports</li>
   <li>Learning Android systems and basic program architecture/design patterns</li>
</ul>
<h4><a id="Canadian_Satellite_Design_Challenge_54"></a>Canadian Satellite Design Challenge</h4>
<p>Control and Data Infrastructure (Sep. 2013 - Present)</p>
<ul>
   <li>Designing and programming an embedded software system for satellite operations</li>
   <li>Organizing communications and processing data on Linux, including Google Protocol Buffers</li>
   <li>Competing nationally on a self-directed student team</li>
</ul>
<h3><a id="Education_61"></a>Education</h3>
<p>Bachelor of Software Engineering Candidate • University of Waterloo</p>
<h3><a id="Interests_64"></a>Interests:</h3>
<p>Rock Climbing, Digital Painting, Sketching, Guitar, Judo</p>