#pagecontent{
  color: $color_text_base;
  font-size: $font_size;
  margin-top: $spacing_nav;

  .heading-bar {
    max-width: $width_max + $spacing_nav;
    margin-left: auto;
    margin-right: auto;

    color: $color_accent_primary_base;
    background-color: $color_background_minor;
    border-radius: 4px;
  }

  h1, h2, h3, h4, h5, h6, p, ul{
    padding-left: $spacing;
    padding-right: $spacing;
    margin-bottom: $spacing;

    margin-left: auto;
    margin-right: auto;
  }
  
  p, li{
    line-height: 1.6*$font_size;
  }

  h3{
    font-weight: normal;
  }
}