#mainpage-examples{
  text-align: center;
  max-width: $width_max;
  margin: auto;

  .project{
    margin-bottom: 2*$spacing;
    background-color: $color_background_minor;
    border-radius: 4px;
    padding: $spacing;

    .img-project img{
      max-height: $width_max/2;
      margin: auto;
    }

    h2{
      margin-top: 0px;
    }

    p{
      margin-bottom: 0px;
    }
  }
}