#mainpage-Index{
  text-align: center;

  .title-heading{
    font-size: 160;
    font-style: oblique;
    color: $color_accent_primary_base;
    font-family: $font_style_code;

    margin-top: $width_max/5;
  }

  .title-block{
    margin-bottom: $spacing*2;
    margin-top: $spacing*3;

    .version{
      font-size: $font_size*(2/3);
      color: $color_text_minor;
    }

    .title-img{
      max-width: $width_max*(2/3);
      margin: auto;
      margin-bottom: $spacing*1.5;
    }
  }

  .features{
    max-width: ($width_max/2)*4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: $spacing;

    .feature{
      text-align: left;
      max-width: $width_max/2;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $spacing;

      div{
        display: table;
        h2{
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  .button-mainpage{
    margin-bottom: 3*$spacing;
    font-size: 1.5*$font_size;
  }
}

#mainpage-about {
  margin-top: $spacing + $spacing_nav;

  p, ul{
    max-width: $width_max;
    li{
      list-style-position:inside;
    }
  }
}

#resume-button{
  margin: auto;
  text-align: center;

  .button-mainpage{
    margin-top: $spacing/2;
    margin-bottom: $spacing/2;
  }
}

.button-mainpage{
  margin-top: $spacing;
  background-color: $color_accent_primary_base;
  color: $color_background_base;

  &:hover{
    color: $color_background_base;
  }
}