#nav{
  font-size: $font_size_nav;
  background-color: $color_background_minor;
  text-align: center;

  ul{
    a{
      color: $color_accent_primary_minor;
    }

    :hover{
      transition: background-image .1s;
      background-color: $color_background_minor;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
      cursor: pointer;
      color: $color_accent_primary_minor;
    }

    .nav-current{
      transition: color .1s;
      color: $color_accent_primary_base;
    }
  }
}

.headroom {
    position: fixed;
    top: 0;
    transition: transform 80ms linear;

    &.headroom--pinned {
    transform: translateY(0%);
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }
}