#nav{
  font-size: $font_size_nav;
  background-color: $color_base02;
  color: $color_base0;
  text-align: center;

  ul{
    :hover{
      transition: background-color .1s;
      background-color: $color_base03;
      cursor: pointer;
    }

    .nav-current{
      transition: background-color .1s;
      background-color: $color_base03;
    }
  }
}

.headroom {
    position: fixed;
    top: 0;
    transition: transform 80ms linear;

    &.headroom--pinned {
    transform: translateY(0%);
    }

    &.headroom--unpinned {
        transform: translateY(-100%);
    }
}