#mainpage-Projects{
  text-align: center;
  max-width: $width_max;
  margin: auto;

  .project{
    margin-bottom: 2*$spacing;
    background-color: $color_background_minor;
    border-radius: 4px;
    padding: $spacing;

    h2{
      margin-top: 0px;
    }
  }
}